---
// src/layouts/BaseLayout.astro
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style>
			/* Estilos globales muy básicos */
			body {
				font-family: system-ui, sans-serif;
				background-color: #f9f9f9;
				color: #222;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
